<p>flower works!</p>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Bouquet Id not unique
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        >
        <!-- (click)="modal.dismiss('Cross click')" -->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group alert-info">
          <div>
            Flower Id :
            <input type="text" value="{{ flowerId }}" disabled />
          </div>
        </div>
        <div class="form-group alert-info">
          <div>
            Flower Name :
            <input type="text" [(ngModel)]="flowerName" name="flowerName" />
          </div>
        </div>
        <div class="form-group alert-info">
          <div>
            Flower Description :
            <input
              type="text"
              [(ngModel)]="flowerDescription"
              name="flowerDescription"
            />
          </div>
        </div>
        <div class="form-group alert-info">
          <div>
            Flower Price :
            <input
              type="text"
              [(ngModel)]="flowerPrice"
              name="flowerPrice"
            />
          </div>
        </div>
        <div class="form-group alert-info">
          <div>
            Flower Qty :
            <input type="text" [(ngModel)]="flowerQty" name="flowerQty" />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="
          putFlower(
            flowerId,
            flowerName,
            flowerDescription,
            flowerPrice,
            flowerQty
          )
        "
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="cancel()" 
        >
        <!-- (click)="modal.close('Save click')" -->
        Cancel
      </button>
    </div>
<ng-template #content let-modal class="myModal modal-dialog-centered">
  </ng-template>
